header {
    display: flex;  
    flex-direction: row;
    align-items: center; 
    background-color: #025964;
    box-shadow: 20px;
    padding-top: 2%;
    border-radius: 10px;
    border-bottom: 3px solid #333;
    border-right: 3px solid #333;
    margin-top: -1.8%;
  }

  header div#LupaHeader img{ /*Depois que atualizei as imagens por algum motivo não consegui centralizar a lupa e os botões*/
    display: block;
    margin: auto;
    max-width: 100%;
    margin-left: 1560%;
  }

body {
    height: 103.1vh;
    background: linear-gradient(0deg, #078B97, #004853);
}

div#img-responsiva img {
  display: block; /*"prender" a imagem*/
  margin: 5px auto;
  max-width: 100%; /*Redimensionamento automatico*/
}

img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 47%;
    }

  nav {
    width: 17%;
    display: flex;
    align-items:end;
    justify-content: space-between;
    margin-left: 78%;
  }
  a {
    text-decoration: none;
    color: white;
}
  .buscar{
    width: 19%;
    display: flex;
    justify-content: center;
    padding: 1% 2%;
    border-radius: 12px;
    margin-top: 2.5%;
    margin-left: 38%;
  }

  nav button {
    width: 40%;
    height: 45px;
    background-color: #078B97;
    border-radius: 20px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-left: 15px;
    cursor: pointer;
}

#categorias{
  font-family: Semi Bold Italic;
  color:#fff;
  margin-left: 5%;

}

.categorias {
  display: flex;
  justify-content: space-around;
  gap: 5%; 
  padding: 2%; 
  background-color:azure;
}

form {
  margin-bottom: 2%;
}

.container-de-anuncio-princal {
  display: flex;
  justify-content: space-around; 
  padding: 2%; 
  background-color:azure;
}

.image-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: aquamarine;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.ajuste-imagem{
  padding: 9%;
  margin: -9%;
  border-radius: 8px;
}

::-webkit-input-placeholder{
    font-family: Bold Italic;
    font-size: 19px;
}

footer {
	background-color: #333;
	color: #fff;
  padding: 2%;
	text-align: center;
	margin-top: 4%;
}

.sobre{
  margin-top:-5%;
}
